/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Syne:wght@400..800&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  --first-color: #3b57e3;
  --title-color: #0a1343;
  --text-color: #5a5e72;
  --body-color: #f5f7ff;
  --container-color: #f0f2ff;
  --border-color: #bfc4d9;

  /*========== Font and typography ==========*/
  --body-font: "Syne", sans-serif;
}

/*========== Base ==========*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--body-font);
  background: url("../image/bg-image.png") no-repeat center/cover;
  height: 100vh;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

input {
  outline: none;
  border: none;
}

/*========== Navbar ==========*/
.header {
  background-color: var(--body-color);
  box-shadow: 0 2px 16px #14298f26;
  position: relative;
}

.navbar {
  max-width: 80%;
  height: 85px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 14px;
  color: var(--title-color);
}

.options {
  display: flex;
  align-items: center;
  gap: 45px;
}

.menu {
  display: flex;
  align-items: center;
  gap: 45px;
  transition: all 0.8s;
}

.menu li a {
  color: var(--title-color);
  font-family: var(--body-font);
  font-weight: 600;
}

.menu li a:hover {
  color: var(--first-color);
}

.icons {
  display: inline-flex;
  gap: 20px;
  cursor: pointer;
}

.icons div i {
  font-size: 20px;
}

.icons div i:hover {
  color: var(--first-color);
}

.icons div:nth-child(3) {
  display: none;
}

/*========== Overlay ==========*/
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0a13431a;
  backdrop-filter: blur(24px);
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

.overlay.show-overlay {
  opacity: 1;
  visibility: visible;
}

.close {
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 32px;
  color: var(--title-color);
  cursor: pointer;
}

.form-container {
  min-width: 300px;
  max-width: 420px;
  width: 90%;
  position: absolute;
  top: 160px;
  left: 50%;
  transform: translateX(-50%);
}

/*========== Search Form ==========*/
.form-container .search-form {
  transform: translateY(-30%);
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease-in-out;
}

.form-container .search-form.active {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

.form-container .search-form .search-input {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 12px;
  background: var(--container-color);
  padding: 16px 12px;
  border-radius: 10px;
  box-shadow: 0 8px 32px #0a134333;
}

.form-container .search-form .search-input i {
  font-size: 20px;
  color: var(--title-color);
}

.form-container .search-form .search-input input {
  width: 85%;
  background-color: transparent;
  font-family: var(--body-font);
  font-size: 16px;
  color: var(--text-color);
}

/*========== Login Form ==========*/
.form-container .login-form {
  width: 100%;
  background-color: var(--container-color);
  box-shadow: 0 8px 32px #0a134333;
  border-radius: 12px;
  font-family: var(--body-font);
  padding: 35px 30px;
  margin-top: -55px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-5%);
  transition: all 0.4s ease-in-out;
}

.form-container .login-form.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.form-container .login-form .title {
  font-size: 25px;
  color: var(--title-color);
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
}

.form-container .login-form .input-group {
  text-align: left;
}

.form-container .login-form .input-group label {
  display: block;
  margin-bottom: 2px;
}

.form-container .login-form .input-group input {
  width: 100%;
  background-color: transparent;
  border: 2px solid var(--border-color);
  padding: 18px 15px;
  margin-bottom: 15px;
  border-radius: 8px;
  font-size: 16px;
  font-family: var(--body-font);
  color: var(--text-color);
}

.form-container .login-form .text {
  font-family: var(--body-font);
  color: var(--text-color);
  text-align: center;
  margin-bottom: 7px;
}

.form-container .login-form .text a {
  color: var(--first-color);
}

.form-container .login-form .pass a {
  color: var(--first-color);
  display: block;
  text-align: center;
}

.form-container .login-form .btn {
  display: block;
  width: 100%;
  background-color: var(--first-color);
  color: #fff;
  font-family: var(--body-font);
  border: none;
  margin-top: 20px;
  padding: 18px 0;
  font-size: 18px;
  border-radius: 8px;
}

@media screen and (max-width: 1024px) {
  .menu {
    position: absolute;
    top: 85px;
    left: 0;
    width: 100%;
    flex-direction: column;
    background-color: var(--body-color);
    text-align: center;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease-in-out;
  }

  .menu.active {
    max-height: 400px;
    opacity: 1;
    visibility: visible;
  }

  .menu li:first-child {
    padding-top: 30px;
  }

  .menu li:last-child {
    padding-bottom: 30px;
  }

  .icons div:nth-child(3) {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .menu li a {
    font-size: 18px;
  }

  .icons i {
    font-size: 18px;
  }

  .close {
    top: 30px;
    transform: translateX(0);
    left: 90%;
  }

  .close i {
    font-size: 24px;
  }
}
